*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: #111;
}

.got{
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    min-height: 100vh;
    padding: 100px;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    position: relative;
    width: 100%;
    top: 0;
    z-index: 100;
    position: fixed;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 70px;
}

header .logo{
    position: relative;
    max-width: 210px;
}

header ul{
    position: relative;
    display: flex;
}

header ul li{
    list-style: none;
}

header ul li a{
    display: inline-block;
    margin-right: 60px;
    text-transform: none;
    font-size: 12px;
    text-decoration: none;
    color: white;
}

header ul li a:hover{
    color: red;
}

.content{
    position: relative;
    margin-top: 80px;
    margin-left: 2px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.content .text-area h4{
    text-transform: uppercase;
    font-size: 12px; 
    margin-bottom: 30px;
    letter-spacing: 5px;  
    color: white; 
}

.content .text-area h1{
    text-transform: uppercase;
    font-size: 70px; 
    margin-bottom: 6px;
    letter-spacing: 4px;  
    color: white; 
    font-weight: bolder;
}

.content .text-area .one{
    text-transform: none;
    font-size: 12px;
    margin-bottom: 12px;
    color: white;
    font-weight: bolder;
    letter-spacing: 5px;
}

.content .text-area .two {
    text-transform: none;
    font-size: 12px;
    margin-bottom: 20px;
    color: white;
    width: 50%;
    font-weight: bolder;
    letter-spacing: 5px;

}

.content .text-area a{
    display: inline-block;
    padding: 19px 30px;
    text-transform: uppercase;
    color: black;
    background-color: white;
    font-size: 14px;
    border-radius: 5px;
    margin-top: 2px;
    text-decoration: none;
    font-weight: bold;
}

.content .text-area a:hover{
    background-color: black;
    color: white;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top,#111,transparent);
}

.banner .cont{
    position: relative;
    max-width: 900px;
    text-align: center;
    z-index: 1;
}

.banner .cont h2{
    position: relative;
    left: 400px;
    margin-top: 1px;
    color: #fff;
    font-size: 4em;
    margin-top: 1px;
    text-transform: uppercase;

}


.banner .cont p{
    position: relative;
   font-weight: 500;
   color: #fff;
   width: 500px;
   left: 410px;
   text-align: left;
   left: 410px;
   font-size: 0.9em;

}

.FitBg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .4;

}

.banner .btn{
    font-size: 16px;
    position: relative;
    left: 190px;
    display: inline-block;
    margin-top: 18px;
    padding: 7px 20px;
    background: #fff;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.banner .btn:hover{
    background-color: black;
    color: white;  
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.footer .sci{
    position: relative;
    display: flex;
}

.footer .sci li{
    list-style: none;
}

.footer .sci li a{
    text-decoration: none;
    margin: 0 20px;
}

.footer .sci li a img{
    filter: invert(1);
    max-width: 50px;
}

.copyrghtText{
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.copyrghtText a{
    text-decoration: none;
    color: #fff;
}